Lenguaje de Marcas JV/004-Definición de esquemas y vocabularios/004-Herramientas de creación y validación/Curriculum.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="curriculum">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="datos_personales" type="TipoDatosPersonales"/>
                <xs:element name="contacto" type="TipoContacto"/>
                <xs:element name="habilidades" type="TipoHabilidades"/>
                <xs:element name="idiomas" type="TipoIdiomas"/>
                <xs:element name="experiencia_profesional" type="TipoExperiencia"/>
                <xs:element name="formacion_academica" type="TipoFormacion"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="TipoDatosPersonales">
        <xs:sequence>
            <xs:element name="nombre" type="xs:string"/>
            <xs:element name="titulo_profesional" type="xs:string"/>
            <xs:element name="foto" type="xs:string"/>
            <xs:element name="perfil" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoContacto">
        <xs:sequence>
            <xs:element name="telefono" type="xs:string"/>
            <xs:element name="email" type="xs:string"/>
            <xs:element name="enlace">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="tipo" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element name="ubicacion" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoHabilidades">
        <xs:sequence>
            <xs:element name="skill" type="xs:string" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoIdiomas">
        <xs:sequence>
            <xs:element name="idioma" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="nivel" type="xs:string" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoExperiencia">
        <xs:sequence>
            <xs:element name="puesto" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titulo" type="xs:string"/>
                        <xs:element name="periodo" type="xs:string"/>
                        <xs:element name="entidad" type="xs:string" minOccurs="0"/>
                        <xs:element name="descripcion" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TipoFormacion">
        <xs:sequence>
            <xs:element name="estudio" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="titulo" type="xs:string"/>
                        <xs:element name="periodo" type="xs:string"/>
                        <xs:element name="centro" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

</xs:schema>